.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font: inherit;
  cursor: pointer;
  transition: all 0.25s;
}

/* Colors */
.button--primary {
  background: var(--primary);
  color: white;
  font-size: 16px;
}
.button--primary:hover {
  background: var(--primary-hover);
  transform: translateY(-1px);
}

.button--secondary {
  background: var(--bg-secondary);
  color: var(--primary);
  border: 2px solid var(--primary);
  font-weight: 600;
}
.button--secondary:hover {
  background: var(--bg-secondary-hover);
  border-color: var(--primary-hover);
  color: var(--primary-hover);
  transform: translateY(-2px);
}

.button--tertiary {
  background: transparent;
  color: var(--text-dark);
  border: none;
}
.button--tertiary:hover {
  background: transparent;
  color: var(--primary);
  transform: translateY(-1px);
}

/* Sizes */
.button--small {
  padding: 8px 16px;
  font-size: 0.875rem;
  border-radius: 6px;
  box-shadow: 0 2px 4px var(--shadow);
}
.button--small:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px var(--shadow);
}

.button--normal {
  padding: 12px 32px;
  font-size: 1rem;
}
