.question-card {
  aspect-ratio: 1;
  background: var(--bg-card);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1;
  color: var(--primary);
  cursor: pointer;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
  box-shadow:
    0 8px 16px var(--shadow),
    0 2px 4px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.question-card:hover {
  transform: translateY(-5px);
  box-shadow:
    0 12px 24px rgba(0, 0, 0, 0.2),
    0 4px 8px rgba(0, 0, 0, 0.15);
}

.question-card.opened {
  background: rgba(0, 12, 239, 0.74);
  color: var(--text-muted);
  cursor: not-allowed;
  opacity: 0.6;
}

.question-card.opened:hover {
  transform: none;
  box-shadow:
    0 8px 16px var(--shadow),
    0 2px 4px rgba(0, 0, 0, 0.1);
}
